In [ ]:
import pandas as pd
import numpy as np
import google.auth
from google.auth import compute_engine
from google.cloud import bigquery
from google.colab import auth

# Create the BQ client. This will ask you to log in the first time.

project_id = 'data-engineering-prod'
auth.authenticate_user()
client = bigquery.Client(project=project_id)

In [ ]:
# list datasets and number of views/tables
print("Collecting data on all views in " + project_id + ". This may take some time...")
views = []
datasetCount = 0
for dataset in client.list_datasets():
  print("\nCollecting views for: " + dataset.dataset_id)  
  datasetViews = list(client.list_tables(dataset=dataset.reference))
  datasetCount += 1
  for view in datasetViews:
    try:
      dataset_ref = bigquery.DatasetReference(project_id, dataset.dataset_id)
      view_ref = dataset_ref.table(view.table_id)
      v = client.get_table(view_ref)
      views.append(v)

    except Exception, err:
      print(err)
      pass

  print(dataset.dataset_id + " contains {:d} views".format(len(datasetViews)))

print("\n" + project_id + " contains {:d} dataset".format(datasetCount))
print("\nDone!")

Collecting data on all views in data-engineering-prod. This may take some time...

Collecting views for: landing_andromeda
landing_andromeda contains 107 views

Collecting views for: landing_andromeda_secure
landing_andromeda_secure contains 660 views

Collecting views for: landing_identity_secure
landing_identity_secure contains 4 views

Collecting views for: landing_orex_secure
landing_orex_secure contains 16 views

Collecting views for: landing_orion_migration_secure
landing_orion_migration_secure contains 51 views

Collecting views for: landing_orion_secure
landing_orion_secure contains 3 views

Collecting views for: landing_pace_secure
landing_pace_secure contains 1 views

Collecting views for: landing_payments_secure
landing_payments_secure contains 23 views

Collecting views for: product_andromeda_secure
product_andromeda_secure contains 197 views

Collecting views for: product_identity_secure
product_identity_secure contains 1 views

Collecting views for: product_orion
product_orion contains 31 views

Collecting views for: product_orion_secure
product_orion_secure contains 100 views

Collecting views for: product_payments_secure
product_payments_secure contains 1 views

Collecting views for: raw_andromeda_secure
raw_andromeda_secure contains 418 views

Collecting views for: raw_identity_secure
raw_identity_secure contains 2 views

Collecting views for: raw_orex_secure
raw_orex_secure contains 11 views

Collecting views for: raw_orion_migration_secure
raw_orion_migration_secure contains 13 views

Collecting views for: raw_orion_secure
raw_orion_secure contains 1 views

Collecting views for: raw_pace_secure
raw_pace_secure contains 1 views

Collecting views for: raw_payments_secure
raw_payments_secure contains 5 views

data-engineering-prod contains 20 dataset

Done!

In [ ]:
# Example data from table/view
print("Example table/view and query:")
print("\nView: {}".format(views[0].full_table_id))
print("\nView Query:\n{}".format(views[0].view_query))
print("\nType: {}".format(views[0].table_type))

Example table/view and query:

View: data-engineering-prod:landing_andromeda.energy_contracts_consumption_charge_generated_v2

View Query:
#standardSQL
SELECT
  `kafkaData`,
  `unionRecord`,
  `_PARTITIONTIME` `PARTITIONTIME`
FROM
  `data-engineering-prod.auto_capture_v2.energy_contracts_consumption_charge_generated_v2`

Type: VIEW

In [100]:
# collect relevant data
data = []
for view in views:
    d = [view.full_table_id,
         view.table_type, 
         view.view_query, 
         view.location, 
         view.num_bytes, 
         view.created.strftime('%Y-%m-%d %H:%M:%S'), 
         view.modified.strftime('%Y-%m-%d %H:%M:%S'), 
         view.expires.strftime('%Y-%m-%d %H:%M:%S') if view.expires != None else None,
         view.partitioning_type,
         view.partition_expiration.strftime('%Y-%m-%d %H:%M:%S') if view.partition_expiration != None else None,]
    data.append(d)

In [101]:
# write data to newline delimited json file
json_file = "data_engineering_prod_bq_analysis.json"
columns = ["full_table_id","type","query","location","bytes","created", "last_modified","expiration","partitioning_type","partition_expiration"]
df = pd.DataFrame(data, columns=columns)
# bq requires newline delimited json so append line break
file = open(json_file, "w")
for row in df.iterrows():
  row[1].to_json(file)
  file.write("\n")
file.close()
df

,full_table_id,type,query,location,bytes,created,last_modified,expiration,partitioning_type,partition_expiration
0,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-08-16 16:48:02,2018-10-01 23:45:33,None,None,None
1,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-08-16 16:48:08,2018-10-01 23:45:36,None,None,None
2,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2019-09-11 12:26:49,2019-09-11 12:31:46,None,None,None
3,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2019-11-25 10:53:00,2019-11-25 10:53:00,None,None,None
4,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2019-12-05 15:58:11,2019-12-05 15:58:11,None,None,None
5,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `mpxn`,...",EU,0,2018-08-16 16:48:18,2018-10-01 23:45:42,None,None,None
6,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `mpxn`,...",EU,0,2018-08-16 16:48:23,2018-10-01 23:45:45,None,None,None
7,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2018-08-16 16:48:28,2018-10-01 23:45:48,None,None,None
8,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2018-10-02 09:53:29,2018-10-02 09:53:29,None,None,None
9,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `supply...",EU,0,2018-08-16 16:48:33,2018-10-01 23:45:51,None,None,None
10,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `supply...",EU,0,2018-08-16 16:48:38,2018-10-01 23:45:54,None,None,None
11,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `supply...",EU,0,2018-08-16 16:48:43,2018-10-01 23:45:57,None,None,None
12,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `mpxn`,...",EU,0,2018-08-16 16:48:49,2018-10-01 23:46:00,None,None,None
13,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-08-16 16:48:54,2018-10-01 23:46:04,None,None,None
14,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-08-16 16:49:00,2018-10-01 23:46:07,None,None,None
15,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-08-16 16:49:05,2018-10-01 23:46:10,None,None,None
16,data-engineering-prod:landing_andromeda.energy...,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-08-16 16:49:10,2018-10-01 23:46:14,None,None,None
17,data-engineering-prod:landing_andromeda.live_c...,VIEW,"#standardSQL\nSELECT\n `serverTime`,\n `cadT...",EU,0,2018-06-12 16:55:36,2018-10-01 23:46:54,None,None,None
18,data-engineering-prod:landing_andromeda.live_c...,VIEW,"#standardSQL\nSELECT\n `startDate`,\n `curre...",EU,0,2018-06-12 16:55:40,2018-10-01 23:46:57,None,None,None
19,data-engineering-prod:landing_andromeda.losses...,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-06-12 16:55:49,2018-10-01 23:47:03,None,None,None
20,data-engineering-prod:landing_andromeda.losses...,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-06-12 16:55:54,2018-10-01 23:47:06,None,None,None
21,data-engineering-prod:landing_andromeda.losses...,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-06-12 16:55:58,2018-10-01 23:47:09,None,None,None
22,data-engineering-prod:landing_andromeda.losses...,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-06-12 16:56:02,2018-10-01 23:47:13,None,None,None
23,data-engineering-prod:landing_andromeda.losses...,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-06-12 16:56:06,2018-10-01 23:47:16,None,None,None
24,data-engineering-prod:landing_andromeda.losses...,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-06-12 16:56:12,2018-10-01 23:47:19,None,None,None
25,data-engineering-prod:landing_andromeda.rac_an...,VIEW,"#standardSQL\nSELECT\n `value`,\n `kafkaData...",EU,0,2018-06-12 16:56:47,2018-10-01 23:48:22,None,None,None
26,data-engineering-prod:landing_andromeda.rac_bl...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `msn`,\...",EU,0,2018-06-12 16:56:51,2018-10-01 23:48:25,None,None,None
27,data-engineering-prod:landing_andromeda.rac_ca...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `chargi...",EU,0,2018-06-12 16:56:55,2018-10-01 23:48:29,None,None,None
28,data-engineering-prod:landing_andromeda.rac_co...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `mpan`,...",EU,0,2018-06-12 16:56:59,2018-10-01 23:48:32,None,None,None
29,data-engineering-prod:landing_andromeda.rac_co...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `consum...",EU,0,2018-06-12 16:57:04,2018-10-01 23:48:35,None,None,None
...,...,...,...,...,...,...,...,...,...,...
1616,data-engineering-prod:raw_orex_secure.orex_acc...,VIEW,/*\nObject: View\nName: orex_account_state\nA...,EU,0,2018-07-16 16:01:37,2020-09-09 10:15:46,None,None,None
1617,data-engineering-prod:raw_orex_secure.orex_bal...,VIEW,WITH uniqueTransactions AS\n(\n SELECT \n ...,EU,0,2018-07-10 14:43:01,2019-02-01 12:46:32,None,None,None
1618,data-engineering-prod:raw_orex_secure.orex_bal...,VIEW,WITH uniqueTransactions AS\n(\n SELECT \n ...,EU,0,2019-01-25 14:07:00,2019-02-01 12:47:21,None,None,None
1619,data-engineering-prod:raw_orex_secure.orex_dd_...,TABLE,None,EU,255650,2018-11-20 13:42:29,2018-12-13 16:59:21,None,None,None
1620,data-engineering-prod:raw_orex_secure.orex_onl...,VIEW,"WITH uniqueonlinedisc AS\n(\n SELECT \n *,...",EU,0,2018-07-10 14:46:26,2018-07-19 11:21:21,None,None,None
1621,data-engineering-prod:raw_orex_secure.orex_sta...,VIEW,select coalesce(unionRecord.StatementUploaded....,EU,0,2018-08-23 13:06:15,2018-08-23 13:06:15,None,None,None
1622,data-engineering-prod:raw_orex_secure.pete_gra...,VIEW,with cte_simplified_readings as\n(\n select c...,EU,0,2018-09-21 12:35:32,2018-09-21 12:35:32,None,None,None
1623,data-engineering-prod:raw_orex_secure.report_t...,VIEW,select * from `data-engineering-prod.product_o...,EU,0,2019-08-22 08:45:26,2019-08-22 08:45:26,None,None,None
1624,data-engineering-prod:raw_orex_secure.results_...,TABLE,None,EU,937665,2018-09-26 08:36:03,2018-09-26 08:36:03,None,None,None
1625,data-engineering-prod:raw_orex_secure.temp_rac...,VIEW,SELECT\n *\nFROM (\n SELECT\n CAST(FORMAT...,EU,0,2018-08-25 09:04:58,2018-09-13 14:23:03,None,None,None
1626,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select PARSE_DATE('%d/%m/%Y', Date_Recorded) a...",EU,0,2018-09-15 17:23:22,2019-03-08 12:40:57,None,None,None
1627,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select PARSE_DATE('%d/%m/%Y', Date_Occurred) a...",EU,0,2018-09-04 14:04:28,2020-08-24 10:52:13,None,None,None
1628,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select PARSE_DATETIME('%d/%m/%Y %H:%M:%S', Req...",EU,0,2018-09-04 08:18:51,2018-10-23 08:06:00,None,None,None
1629,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select MPXN,\n case\n when Disput...",EU,0,2019-05-14 16:41:37,2019-11-11 09:59:55,None,None,None
1630,data-engineering-prod:raw_orion_migration_secu...,VIEW,select *\nfrom `data-engineering-prod.landing_...,EU,0,2019-01-29 10:16:19,2019-01-29 10:16:19,None,None,None
1631,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select cast(Task_ID as int64) as Task_ID,\n ...",EU,0,2019-01-28 17:08:20,2019-01-28 17:08:21,None,None,None
1632,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select cast(Task_ID as int64) as Task_ID,\n ...",EU,0,2019-01-28 17:11:02,2019-01-28 17:11:02,None,None,None
1633,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select PARSE_DATETIME('%d/%m/%Y %H:%M:%S', Req...",EU,0,2018-09-03 16:33:29,2018-09-04 16:12:08,None,None,None
1634,data-engineering-prod:raw_orion_migration_secu...,VIEW,select *\nfrom `data-engineering-prod.landing_...,EU,0,2019-02-19 15:04:25,2019-02-19 15:04:26,None,None,None
1635,data-engineering-prod:raw_orion_migration_secu...,VIEW,select SAFE.PARSE_DATETIME('%d/%m/%Y %H:%M:%S'...,EU,0,2019-02-27 16:33:25,2019-02-27 16:33:25,None,None,None
1636,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select PARSE_DATETIME('%d/%m/%Y %H:%M:%S', Req...",EU,0,2018-09-04 15:54:20,2018-09-04 15:54:20,None,None,None
1637,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select PARSE_DATE('%d/%m/%Y', Date_Recorded) a...",EU,0,2018-09-15 17:10:30,2019-06-28 11:25:50,None,None,None
1638,data-engineering-prod:raw_orion_migration_secu...,VIEW,"select PARSE_DATETIME('%d/%m/%Y %H:%M:%S', Req...",EU,0,2018-09-20 16:47:16,2018-09-20 16:47:16,None,None,None
1639,data-engineering-prod:raw_orion_secure.gsop_fa...,TABLE,None,EU,12165,2019-10-02 08:57:47,2020-09-10 06:02:53,None,None,None
1640,data-engineering-prod:raw_pace_secure.pace_los...,VIEW,SELECT * \nFROM `data-engineering-prod.landing...,EU,0,2020-07-16 15:41:48,2020-07-16 15:41:48,None,None,None
1641,data-engineering-prod:raw_payments_secure.paym...,VIEW,"SELECT c.transactionId\n ,c.serviceAccoun...",EU,0,2018-08-22 13:39:06,2020-03-12 14:14:14,None,None,None
1642,data-engineering-prod:raw_payments_secure.paym...,VIEW,"With dd_mandate AS\n(SELECT serviceAccountId, ...",EU,0,2019-07-16 12:08:28,2019-07-16 12:08:28,None,None,None
1643,data-engineering-prod:raw_payments_secure.paym...,VIEW,With dd_payment AS (\n SELECT transactionId...,EU,0,2018-07-11 08:47:13,2020-01-10 13:24:47,None,None,None
1644,data-engineering-prod:raw_payments_secure.paym...,VIEW,"WITH cte_refund_union as (\n SELECT metadata,...",EU,0,2018-08-22 13:07:47,2020-01-30 11:57:47,None,None,None
1645,data-engineering-prod:raw_payments_secure.paym...,VIEW,With subscription AS (\n SELECT SPLIT(servi...,EU,0,2018-07-11 08:47:58,2020-08-06 21:58:08,None,None,None

In [103]:
from google.cloud import storage

# write the results to a gc bucket 
client = storage.Client(project=project_id)
bucket = client.get_bucket("data-engineering-prod-bq-analysis")
blob = bucket.blob(json_file)

with open('data_engineering_prod_bq_analysis.json', 'rb') as file:
  blob.upload_from_file(file)

In [104]:
# write data to data-integration-prod
# to update the results we will wipe the existing table and replace it
project_id = 'data-integration-prod'
dataset_id = 'data_engineering_prod_bq_analysis'
table_id = 'data_engineering_prod_bq_analysis'
full_table_id = project_id + '.' + dataset_id + '.' + table_id
client = bigquery.Client(project=project_id)

# remove existing table
client.delete_table(full_table_id, not_found_ok=True) 

# write new table
job_config = bigquery.LoadJobConfig(autodetect=True, 
            source_format=bigquery.SourceFormat.NEWLINE_DELIMITED_JSON)
uri = "gs://data-engineering-prod-bq-analysis/data_engineering_prod_bq_analysis.json"
load_job = client.load_table_from_uri(
    uri, full_table_id, job_config=job_config)  # Make an API request.
load_job.result() 

# check the number of rows loaded into the table is correct
destination_table = client.get_table(full_table_id)
print("Loaded {} rows.".format(destination_table.num_rows))
assert(len(views) == destination_table.num_rows)

Loaded 1646 rows.