In [2]:
import pandas as pd
import numpy as np
import google.auth
from google.auth import compute_engine
from google.cloud import bigquery

# Create the BQ client. This will ask you to log in the first time.

project_id = 'data-engineering-prod'
client = bigquery.Client(project=project_id)

In [3]:
# list datasets and number of views/tables
datasets = []
for dataset in client.list_datasets():
    views = list(client.list_tables(dataset=dataset.reference))
    datasets.append(views)
    print(dataset.dataset_id + " contains {:d} views".format(len(views)))
    
print("\n" + project_id + " contains {:d} datasets".format(len(datasets)))

landing_andromeda contains 107 views
landing_andromeda_secure contains 660 views
landing_identity_secure contains 4 views
landing_orex_secure contains 16 views
landing_orion_migration_secure contains 51 views
landing_orion_secure contains 3 views
landing_pace_secure contains 1 views
landing_payments_secure contains 23 views
product_andromeda_secure contains 195 views
product_identity_secure contains 1 views
product_orion contains 31 views
product_orion_secure contains 99 views
product_payments_secure contains 1 views
raw_andromeda_secure contains 418 views
raw_identity_secure contains 2 views
raw_orex_secure contains 11 views
raw_orion_migration_secure contains 13 views
raw_orion_secure contains 1 views
raw_pace_secure contains 1 views
raw_payments_secure contains 5 views

data-engineering-prod contains 20 datasets

In [4]:
# Collect data on all views within datasets
print("Collecting data on all views in " + project_id + ". This may take some time...\n")
views = []

for dataset in client.list_datasets():
    print("Collecting views for: " + dataset.dataset_id)
    
    for view in list(client.list_tables(dataset=dataset.reference)):
        try:
            dataset_ref = bigquery.DatasetReference(project_id, dataset.dataset_id)
            view_ref = dataset_ref.table(view.table_id)
            v = client.get_table(view_ref)
            views.append(v)

        except Exception, err:
            print(err)
            pass
        
print("\nDone!")

Collecting data on all views in data-engineering-prod. This may take some time...

Collecting views for: landing_andromeda
Collecting views for: landing_andromeda_secure
Collecting views for: landing_identity_secure
Collecting views for: landing_orex_secure
Collecting views for: landing_orion_migration_secure
Collecting views for: landing_orion_secure
Collecting views for: landing_pace_secure
Collecting views for: landing_payments_secure
Collecting views for: product_andromeda_secure
Collecting views for: product_identity_secure
Collecting views for: product_orion
Collecting views for: product_orion_secure
Collecting views for: product_payments_secure
Collecting views for: raw_andromeda_secure
Collecting views for: raw_identity_secure
Collecting views for: raw_orex_secure
Collecting views for: raw_orion_migration_secure
Collecting views for: raw_orion_secure
Collecting views for: raw_pace_secure
Collecting views for: raw_payments_secure

Done!

In [24]:
# Example data from table/view
print("Example table/view and query:")
print("\nView: {}".format(views[0].full_table_id))
print("\nView Query:\n{}".format(views[0].view_query))
print("\nType: {}".format(views[0].table_type))

Example table/view and query:

View: data-engineering-prod:landing_andromeda.energy_contracts_consumption_charge_generated_v2

View Query:
#standardSQL
SELECT
  `kafkaData`,
  `unionRecord`,
  `_PARTITIONTIME` `PARTITIONTIME`
FROM
  `data-engineering-prod.auto_capture_v2.energy_contracts_consumption_charge_generated_v2`

Type: VIEW

In [11]:
data = []
for view in views:
    d = [view.dataset_id, view.table_id, view.table_type, view.view_query, view.location, view.num_bytes, view.modified.strftime('%Y-%m-%d %H:%M:%S'), view.created.strftime('%Y-%m-%d %H:%M:%S'), view.self_link]
    data.append(d)
    
# column names are in alphabetical order..
columns = ["dataset","table","type","query","location","bytes","last modified","created","link"]
df = pd.DataFrame(data, columns=columns).reindex(columns=columns)
df

,dataset,table,type,query,location,bytes,last modified,created,link
0,landing_andromeda,energy_contracts_consumption_charge_generated_v2,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-10-01 23:45:33,2018-08-16 16:48:02,https://bigquery.googleapis.com/bigquery/v2/pr...
1,landing_andromeda,energy_contracts_consumption_charge_generated_v3,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-10-01 23:45:36,2018-08-16 16:48:08,https://bigquery.googleapis.com/bigquery/v2/pr...
2,landing_andromeda,energy_contracts_consumption_charge_generated_v6,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2019-09-11 12:31:46,2019-09-11 12:26:49,https://bigquery.googleapis.com/bigquery/v2/pr...
3,landing_andromeda,energy_contracts_consumption_charge_generated_v7,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2019-11-25 10:53:00,2019-11-25 10:53:00,https://bigquery.googleapis.com/bigquery/v2/pr...
4,landing_andromeda,energy_contracts_consumption_charge_generated_v8,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2019-12-05 15:58:11,2019-12-05 15:58:11,https://bigquery.googleapis.com/bigquery/v2/pr...
5,landing_andromeda,energy_contracts_contract_created_v1,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `mpxn`,...",EU,0,2018-10-01 23:45:42,2018-08-16 16:48:18,https://bigquery.googleapis.com/bigquery/v2/pr...
6,landing_andromeda,energy_contracts_contract_created_v2,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `mpxn`,...",EU,0,2018-10-01 23:45:45,2018-08-16 16:48:23,https://bigquery.googleapis.com/bigquery/v2/pr...
7,landing_andromeda,energy_contracts_contract_v1,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2018-10-01 23:45:48,2018-08-16 16:48:28,https://bigquery.googleapis.com/bigquery/v2/pr...
8,landing_andromeda,energy_contracts_contract_v2,VIEW,"#standardSQL\nSELECT\n `unionRecord`,\n `kaf...",EU,0,2018-10-02 09:53:29,2018-10-02 09:53:29,https://bigquery.googleapis.com/bigquery/v2/pr...
9,landing_andromeda,energy_contracts_electricity_consumption_charg...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `supply...",EU,0,2018-10-01 23:45:51,2018-08-16 16:48:33,https://bigquery.googleapis.com/bigquery/v2/pr...
10,landing_andromeda,energy_contracts_electricity_consumption_charg...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `supply...",EU,0,2018-10-01 23:45:54,2018-08-16 16:48:38,https://bigquery.googleapis.com/bigquery/v2/pr...
11,landing_andromeda,energy_contracts_gas_consumption_charge_create...,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `supply...",EU,0,2018-10-01 23:45:57,2018-08-16 16:48:43,https://bigquery.googleapis.com/bigquery/v2/pr...
12,landing_andromeda,energy_contracts_standing_charge_created_v1,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `mpxn`,...",EU,0,2018-10-01 23:46:00,2018-08-16 16:48:49,https://bigquery.googleapis.com/bigquery/v2/pr...
13,landing_andromeda,energy_contracts_standing_charge_created_v2,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-10-01 23:46:04,2018-08-16 16:48:54,https://bigquery.googleapis.com/bigquery/v2/pr...
14,landing_andromeda,energy_contracts_standing_charge_created_v3,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-10-01 23:46:07,2018-08-16 16:49:00,https://bigquery.googleapis.com/bigquery/v2/pr...
15,landing_andromeda,energy_contracts_standing_charge_created_v4,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-10-01 23:46:10,2018-08-16 16:49:05,https://bigquery.googleapis.com/bigquery/v2/pr...
16,landing_andromeda,energy_contracts_standing_charge_created_v5,VIEW,"#standardSQL\nSELECT\n `kafkaData`,\n `union...",EU,0,2018-10-01 23:46:14,2018-08-16 16:49:10,https://bigquery.googleapis.com/bigquery/v2/pr...
17,landing_andromeda,live_cad_consumption_v1,VIEW,"#standardSQL\nSELECT\n `serverTime`,\n `cadT...",EU,0,2018-10-01 23:46:54,2018-06-12 16:55:36,https://bigquery.googleapis.com/bigquery/v2/pr...
18,landing_andromeda,live_cad_pricing_v1,VIEW,"#standardSQL\nSELECT\n `startDate`,\n `curre...",EU,0,2018-10-01 23:46:57,2018-06-12 16:55:40,https://bigquery.googleapis.com/bigquery/v2/pr...
19,landing_andromeda,losses_consumer_status_update_v3,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-10-01 23:47:03,2018-06-12 16:55:49,https://bigquery.googleapis.com/bigquery/v2/pr...
20,landing_andromeda,losses_loss_cancelled_v1,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-10-01 23:47:06,2018-06-12 16:55:54,https://bigquery.googleapis.com/bigquery/v2/pr...
21,landing_andromeda,losses_loss_created_v1,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-10-01 23:47:09,2018-06-12 16:55:58,https://bigquery.googleapis.com/bigquery/v2/pr...
22,landing_andromeda,losses_loss_objection_cancelled_v1,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-10-01 23:47:13,2018-06-12 16:56:02,https://bigquery.googleapis.com/bigquery/v2/pr...
23,landing_andromeda,losses_loss_objection_completed_v1,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-10-01 23:47:16,2018-06-12 16:56:06,https://bigquery.googleapis.com/bigquery/v2/pr...
24,landing_andromeda,losses_loss_objection_created_v1,VIEW,"#standardSQL\nSELECT\n `eventId`,\n `created...",EU,0,2018-10-01 23:47:19,2018-06-12 16:56:12,https://bigquery.googleapis.com/bigquery/v2/pr...
25,landing_andromeda,rac_andromeda_import_msd_published_v1,VIEW,"#standardSQL\nSELECT\n `value`,\n `kafkaData...",EU,0,2018-10-01 23:48:22,2018-06-12 16:56:47,https://bigquery.googleapis.com/bigquery/v2/pr...
26,landing_andromeda,rac_blacklisted_meters_v1,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `msn`,\...",EU,0,2018-10-01 23:48:25,2018-06-12 16:56:51,https://bigquery.googleapis.com/bigquery/v2/pr...
27,landing_andromeda,rac_calorific_value_received_v1,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `chargi...",EU,0,2018-10-01 23:48:29,2018-06-12 16:56:55,https://bigquery.googleapis.com/bigquery/v2/pr...
28,landing_andromeda,rac_consumption_generated_v3,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `mpan`,...",EU,0,2018-10-01 23:48:32,2018-06-12 16:56:59,https://bigquery.googleapis.com/bigquery/v2/pr...
29,landing_andromeda,rac_consumption_generated_v4,VIEW,"#standardSQL\nSELECT\n `metadata`,\n `consum...",EU,0,2018-10-01 23:48:35,2018-06-12 16:57:04,https://bigquery.googleapis.com/bigquery/v2/pr...
...,...,...,...,...,...,...,...,...,...
1613,raw_orex_secure,orex_account_state,VIEW,"WITH dedupe AS (\n SELECT \n *,\n ROW_N...",EU,0,2020-06-04 08:27:01,2018-07-16 16:01:37,https://bigquery.googleapis.com/bigquery/v2/pr...
1614,raw_orex_secure,orex_balance_updated,VIEW,WITH uniqueTransactions AS\n(\n SELECT \n ...,EU,0,2019-02-01 12:46:32,2018-07-10 14:43:01,https://bigquery.googleapis.com/bigquery/v2/pr...
1615,raw_orex_secure,orex_balance_updated_nodedupe,VIEW,WITH uniqueTransactions AS\n(\n SELECT \n ...,EU,0,2019-02-01 12:47:21,2019-01-25 14:07:00,https://bigquery.googleapis.com/bigquery/v2/pr...
1616,raw_orex_secure,orex_dd_review_comms_sent,TABLE,None,EU,255650,2018-12-13 16:59:21,2018-11-20 13:42:29,https://bigquery.googleapis.com/bigquery/v2/pr...
1617,raw_orex_secure,orex_online_discount,VIEW,"WITH uniqueonlinedisc AS\n(\n SELECT \n *,...",EU,0,2018-07-19 11:21:21,2018-07-10 14:46:26,https://bigquery.googleapis.com/bigquery/v2/pr...
1618,raw_orex_secure,orex_statement_uploaded,VIEW,select coalesce(unionRecord.StatementUploaded....,EU,0,2018-08-23 13:06:15,2018-08-23 13:06:15,https://bigquery.googleapis.com/bigquery/v2/pr...
1619,raw_orex_secure,pete_grace_reads,VIEW,with cte_simplified_readings as\n(\n select c...,EU,0,2018-09-21 12:35:32,2018-09-21 12:35:32,https://bigquery.googleapis.com/bigquery/v2/pr...
1620,raw_orex_secure,report_transactions,VIEW,select * from `data-engineering-prod.product_o...,EU,0,2019-08-22 08:45:26,2019-08-22 08:45:26,https://bigquery.googleapis.com/bigquery/v2/pr...
1621,raw_orex_secure,results_20180926_093508,TABLE,None,EU,937665,2018-09-26 08:36:03,2018-09-26 08:36:03,https://bigquery.googleapis.com/bigquery/v2/pr...
1622,raw_orex_secure,temp_rac_msd_simplified_01,VIEW,SELECT\n *\nFROM (\n SELECT\n CAST(FORMAT...,EU,0,2018-09-13 14:23:03,2018-08-25 09:04:58,https://bigquery.googleapis.com/bigquery/v2/pr...
1623,raw_orion_migration_secure,action_log_exceptions,VIEW,"select PARSE_DATE('%d/%m/%Y', Date_Recorded) a...",EU,0,2019-03-08 12:40:57,2018-09-15 17:23:22,https://bigquery.googleapis.com/bigquery/v2/pr...
1624,raw_orion_migration_secure,action_log_tasks,VIEW,"select PARSE_DATE('%d/%m/%Y', Date_Occurred) a...",EU,0,2020-08-24 10:52:13,2018-09-04 14:04:28,https://bigquery.googleapis.com/bigquery/v2/pr...
1625,raw_orion_migration_secure,dd_setup_requests,VIEW,"select PARSE_DATETIME('%d/%m/%Y %H:%M:%S', Req...",EU,0,2018-10-23 08:06:00,2018-09-04 08:18:51,https://bigquery.googleapis.com/bigquery/v2/pr...
1626,raw_orion_migration_secure,gas_read_disputes_worklist,VIEW,"select MPXN,\n case\n when Disput...",EU,0,2019-11-11 09:59:55,2019-05-14 16:41:37,https://bigquery.googleapis.com/bigquery/v2/pr...
1627,raw_orion_migration_secure,manual_process_snapshots,VIEW,select *\nfrom `data-engineering-prod.landing_...,EU,0,2019-01-29 10:16:19,2019-01-29 10:16:19,https://bigquery.googleapis.com/bigquery/v2/pr...
1628,raw_orion_migration_secure,manual_processes_static_data,VIEW,"select cast(Task_ID as int64) as Task_ID,\n ...",EU,0,2019-01-28 17:08:21,2019-01-28 17:08:20,https://bigquery.googleapis.com/bigquery/v2/pr...
1629,raw_orion_migration_secure,manual_processes_variable_data,VIEW,"select cast(Task_ID as int64) as Task_ID,\n ...",EU,0,2019-01-28 17:11:02,2019-01-28 17:11:02,https://bigquery.googleapis.com/bigquery/v2/pr...
1630,raw_orion_migration_secure,move_out_requests,VIEW,"select PARSE_DATETIME('%d/%m/%Y %H:%M:%S', Req...",EU,0,2018-09-04 16:12:08,2018-09-03 16:33:29,https://bigquery.googleapis.com/bigquery/v2/pr...
1631,raw_orion_migration_secure,probate_responses,VIEW,select *\nfrom `data-engineering-prod.landing_...,EU,0,2019-02-19 15:04:26,2019-02-19 15:04:25,https://bigquery.googleapis.com/bigquery/v2/pr...
1632,raw_orion_migration_secure,refix_requests,VIEW,select SAFE.PARSE_DATETIME('%d/%m/%Y %H:%M:%S'...,EU,0,2019-02-27 16:33:25,2019-02-27 16:33:25,https://bigquery.googleapis.com/bigquery/v2/pr...
1633,raw_orion_migration_secure,refund_requests,VIEW,"select PARSE_DATETIME('%d/%m/%Y %H:%M:%S', Req...",EU,0,2018-09-04 15:54:20,2018-09-04 15:54:20,https://bigquery.googleapis.com/bigquery/v2/pr...
1634,raw_orion_migration_secure,reversal_requests,VIEW,"select PARSE_DATE('%d/%m/%Y', Date_Recorded) a...",EU,0,2019-06-28 11:25:50,2018-09-15 17:10:30,https://bigquery.googleapis.com/bigquery/v2/pr...
1635,raw_orion_migration_secure,secondary_contact_requests,VIEW,"select PARSE_DATETIME('%d/%m/%Y %H:%M:%S', Req...",EU,0,2018-09-20 16:47:16,2018-09-20 16:47:16,https://bigquery.googleapis.com/bigquery/v2/pr...
1636,raw_orion_secure,gsop_failed_refunds,TABLE,None,EU,11524,2020-09-08 06:02:23,2019-10-02 08:57:47,https://bigquery.googleapis.com/bigquery/v2/pr...
1637,raw_pace_secure,pace_loss_refund,VIEW,SELECT * \nFROM `data-engineering-prod.landing...,EU,0,2020-07-16 15:41:48,2020-07-16 15:41:48,https://bigquery.googleapis.com/bigquery/v2/pr...
1638,raw_payments_secure,payments_card_paymentExecuted,VIEW,"SELECT c.transactionId\n ,c.serviceAccoun...",EU,0,2020-03-12 14:14:14,2018-08-22 13:39:06,https://bigquery.googleapis.com/bigquery/v2/pr...
1639,raw_payments_secure,payments_mandateEvent,VIEW,"With dd_mandate AS\n(SELECT serviceAccountId, ...",EU,0,2019-07-16 12:08:28,2019-07-16 12:08:28,https://bigquery.googleapis.com/bigquery/v2/pr...
1640,raw_payments_secure,payments_paymentEvent,VIEW,With dd_payment AS (\n SELECT transactionId...,EU,0,2020-01-10 13:24:47,2018-07-11 08:47:13,https://bigquery.googleapis.com/bigquery/v2/pr...
1641,raw_payments_secure,payments_refund_statusUpdated,VIEW,"WITH cte_refund_union as (\n SELECT metadata,...",EU,0,2020-01-30 11:57:47,2018-08-22 13:07:47,https://bigquery.googleapis.com/bigquery/v2/pr...
1642,raw_payments_secure,payments_subscriptionEvent,VIEW,With subscription AS (\n SELECT SPLIT(servi...,EU,0,2020-08-06 21:58:08,2018-07-11 08:47:58,https://bigquery.googleapis.com/bigquery/v2/pr...